@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('fonts/NotoSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Extra Light'), local('Noto Sans ExtraLight'), local('NotoSans-ExtraLight'), url('fonts/NotoSans-ExtraLight-subset.woff2') format('woff2');
}

:root {
  --theme-primary: #96B7A6;
  --theme-primary-dark: #709080;
  --theme-primary-light: #A2D5BB;
  --theme-accent: #dca3a3;
  --theme-accent-dark: #705050;
  --theme-neutral: #777;
  --theme-background: #282828;
  --theme-foreground: #eff0f1;
}

::-moz-selection {
  background: var(--theme-primary);
}
::selection {
  background: var(--theme-primary);
}

body {
  font-family: 'Noto Sans', Roboto, sans-serif;
  background-color: var(--theme-background);
  background-image: url(img/noise.png);
  color: var(--theme-foreground);
}
@media (resolution: 2dppx) {
  body {
    background-size: 100px 100px;
  }
}
.container {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

a:link,
a:visited {
  color: var(--theme-primary);
}
a:hover,
a:active,
a:focus {
  color: var(--theme-primary-light);
}
a:focus {
  outline: 1px solid var(--theme-primary);
  outline-offset: 1px;
}

.logo {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  color: var(--theme-primary);
  letter-spacing: -2px;
}
.logo span {
  color: var(--theme-neutral);
  font-weight: 100;
  letter-spacing: normal;
}
@media (max-width: 572px) { /* 80px/14vw*100% */
  .logo {
    font-size: 14vw;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-bottom: 60px;
}
.lead {
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
}
.lead strong {
  font-weight: inherit;
  color: var(--theme-primary);
}
.lead em {
  font-style: inherit;
  color: var(--theme-accent);
}

footer {
  text-align: center;
  opacity: 0.7;
  padding-bottom: 60px;
}
footer a {
  vertical-align: top;
}
footer .octicon {
  width: 32px;
  height: 32px;
  fill: var(--theme-foreground);
}

h2 {
  font-weight: normal;
  color: var(--theme-accent);
}

pre, code {
  font-family: 'Noto Sans Mono', 'Noto Mono', Menlo, monospace;
  font-size: 14px;
}

code {
  color: var(--theme-primary);
}

.shell {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow-x: auto;
}
.shell .cmd::before {
  content: '$ ';
  color: var(--theme-accent);
}
